annotated-types
asgiref
asttokens
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
coreapi
coreschema
cycler
cymem
defusedxml
diff-match-patch
Django
django-cors-headers
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-yasg
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl
et-xmlfile
executing
filelock
fonttools
fsspec
graphviz
gunicorn
huggingface-hub
icecream
idna
inflection
itypes
Jinja2
kiwisolver
langcodes
lxml
MarkupPy
MarkupSafe
matplotlib
mpmath
murmurhash
mysqlclient
networkx
numpy
odfpy
openapi-codec
openpyxl
packaging
pandas
pathy
Pillow
preshed
psycopg2
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
PyPDF2
pytextrank
python-dateutil
python-decouple
python-docx
pytz
PyYAML
regex
reportlab
requests
safetensors
scipy
simplejson
six
smart-open
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
sympy
tablib
thinc
tokenizers
torch
tqdm
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
wasabi
weasel
xlrd
xlwt
