{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="allText bottomText">
        <p class="text-blk description" >
            The motivation behind developing a Legal 
            Document Summarizer using machine learning 
            and NLP stems from the pressing need to 
            address the formidable challenges faced by 
            legal professionals in managing the everincreasing volume of complex legal documents.
            This innovative solution aims to alleviate the 
            time-consuming and labour-intensive nature of 
            document analysis, enhancing the efficiency and 
            productivity of legal practitioners. By 
            automating the summarization process, it 
            enables legal experts to make informed 
            decisions more quickly, reduces the risk of 
            oversight, and ultimately enhances the quality 
            and costeffectiveness of legal services, driving 
            progress in the legal field.
        </p>
        
      </div>
      <div class="videoContainer">
        
        <img class="dotsImg image-block" src="{% static 'img/about.jpg' %}">
      </div>
    </div>
  </div>




    <div class="container" style="margin-top:80px;">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card py-4" style="border: none;">

                    <div>
                        <div class="round-image">
                            <img src="{% static 'img/1.jpeg' %}" class="rounded-circle" height="130px" width="140">
                        </div>
                    </div>

                    <div class="text-center">

                        <h4 class="mt-3 py-2" style="font-size: 35px; padding-top: 20px;">Pranav Bhadekar</h4>

                        <div class="px-5">
                            <a href="mailto:Pranavbhadekar11@gmail.com"><i class="fa-solid fa-envelope"
                                    style="font-size: 24px; padding-right: 10px;"></i></a>
                            <a href="https://www.linkedin.com/in/pranav-bhadekar-83924621a/" style="font-size: 24px;"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="card py-4" style="border: none;">

                    <div>
                        <div class="round-image" >
                            <img src="{% static 'img/2.jpg' %}" class="rounded-circle" height="130px" width="148px">
                        </div>
                    </div>

                    <div class="text-center">

                        <h4 class="mt-3 py-2" style="font-size: 35px; padding-top: 20px;">Rishikesh Gavali</h4>

                        <div class="px-5">
                            <a href="mailto:Rushikeshgavali35@gmail.com"><i class="fa-solid fa-envelope"
                                    style="font-size: 24px; padding-right: 10px;"></i></a>
                            <a href="https://www.linkedin.com/in/rushikesh-gavali-3b4b33219/" style="font-size: 24px;"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card py-4" style="border: none;">

                    <div>
                        <div class="round-image">
                            <img src="{% static 'img/3.jpg' %}" class="rounded-circle" height="130px" width="142">
                        </div>
                    </div>
                    <div class="text-center">

                        <h4 class="mt-3 py-2" style="font-size: 35px; padding-top: 20px;">Ritvik Chavan</h4>

                        <div class="px-5">
                            <a href="mailto:Ritvikchavan18@gmail.com"><i class="fa-solid fa-envelope"
                                    style="font-size: 24px; padding-right: 10px;"></i></a>
                            <a href="https://www.linkedin.com/in/ritvik-chavan-7b850520b/" style="font-size: 24px;"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="card py-4" style="border: none;">

                    <div>
                        <div class="round-image">
                            <img src="{% static 'img/4.jpeg' %}" class="rounded-circle" height="130px" width="140">
                        </div>
                    </div>

                    <div class="text-center">

                        <h4 class="mt-3 py-2" style="font-size: 35px; padding-top: 20px;">Ajay Karve</h4>

                        <div class="px-5">
                            <a href="mailto:Ajay.22010960@viit.ac.in"><i class="fa-solid fa-envelope"
                                    style="font-size: 24px; padding-right: 10px;"></i></a>
                            <a href="https://www.linkedin.com/in/ajay-karve-1673b91bb/" style="font-size: 24px;"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


    {% endblock %}